body{
    font-family: "Cute Font";
    text-align: center;
    overflow: hidden;
}
#container #top #text #back{
    margin-left: 240px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#top{
    position: relative;
}

#content{
  
  position: relative;
  display: inline-block;
  
}

#text{
    width: 100%;
}

#container{
    vertical-align: middle;
    height: 100%;
    
}

#content{
    position: relative;
    height: 100%;
}

.masonryContainer{
  position: relative;
  display: inline-block;
  width: 100%;
  column-count: 4;
  column-gap: 1em;
  padding: 10px;
  margin: 0;
  
  font-size: 40px;
}

.item{
  display: inline-block;
  break-inside: avoid;
  background: #fff;
  margin: 0 0 1.5em;
  
  vertical-align: top;
}

#high{
  background-color: aqua;
  vertical-align: middle;
}

.orderID{
    position: relative;
    display: inline-block;
    color: darkslategray;
    font-weight: 700;
}

.arrangement{
    padding: 10px;
}

