body{
    font-family: "Cute Font";
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px; 
}

#container #top #text #back{
    margin-left: 240px;
}

html {
  box-sizing: border-box;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

#top{
    position: relative;
    margin-top: 100px;
}

#content{
  
  position: relative;
  display: inline-block;
  align-items: flex-start;
    justify-content: flex-start;
}

#text{
    width: 100%;
}

#container{
    vertical-align: middle;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
}


.masonryContainer{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0;
  column-count: 5;
  
  font-size: 40px;
  align-items: flex-start;
    justify-content: flex-start;
}

.item{
  display: inline-block;
  break-inside: avoid;
  background: #fff;
  margin: 0 0 1.5em;
  text-align: left;
  transition: 0.2s ease-in-out;
  
 
}

#high{
  background-color: aqua;
  vertical-align: middle;
}

.orderID{
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
    background-color: darkturquoise;
}

.arrangement{
    margin: 10px;
}

.flowers{
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 30px;
    margin-top: -20px;
    font-weight: bold;
    margin: 10px;
    margin-top: -20px;
    width: 100%;
}

.deadline{
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0;
    color: red;
}


.itemFocus{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 70%;
    margin: auto;
    font-size: 40px;
    background-color: white;
    
    margin-bottom: 50px;
    transition: 0.3s;
    text-align: left;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
     visibility: hidden;
     transition: 0.3s;
}

.itemFocusVisible{
   visibility: visible;
   opacity: 1;
   margin-bottom: 200px;
   transition: 0.3s;
}

.overlayVisible{
   visibility: visible;
   opacity: 1;
   transition: 0.3s;
}

.arrangementQuantity{
    position: relative;
    display: inline-block;
    float: right;
}

.itemFocus .deadline{
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.arrangementContainer{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.arrangementContainer::-webkit-scrollbar {
    color: blue;
    width: 10px;
}

.arrangementContainer::-webkit-scrollbar-track {
}

.arrangementContainer::-webkit-scrollbar-thumb {
    background-color: black;
    border-width: 5px;
    border-color: white;
    
}