/*
Author: Chong Wei Jie
ID: 19WMR09574
*/

body{
    font-family: "Cute Font";
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px; 
}

#container #top #text #back{
    margin-left: 240px;
}

html {
    box-sizing: border-box;
}

#top{
    position: relative;
    margin-top: 100px;
}

form{
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 10px 10px 10px 10px;
    font-size: 30px;
}

label{
    display: black;
    text-align: left;
    margin: 5px;
}

#container #content #addFloral #form input[type="text"], #price{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

#container #content #addFloral #form #img{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: 20px;
}

#container #content #addFloral #form #desc {
    border: 1px solid gray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
    display: block;
    width: 93%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    font-family: "Arial";
}

#container #content #addFloral input[type="submit"]{
    margin-top: 15px;
    text-decoration: none;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.5s;
    font-family: "Cute Font";
}

#container #content {
    margin-left: -50px;
    margin-bottom: 100px;
    transition: margin-left 0.5s;
}

#container:hover > #content {
    margin-left: 50px;
}

img{
    max-width: 180px;
    max-height: 180px;
    display: block;
}

#container #content #addFloral #form #left{
    float: left;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 0px;
}

#container #content #addFloral #form #bottomLeft {
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 45px;
}

#container #content #addFloral #form #bottomRight {
    float: right;
    margin-right: 110px;
    margin-top: 45px;
}

#container #content #addFloral #form #right{
    display: flex; 
    align-items: center;
    float: right;
    margin-right: 150px;
    margin-left: 0px;
    width: 180px;
    height: 180px;
    border: 1px solid black;
}

#container #content #addFloral #form #bottomRight input[type="number"]{
    height: 30px;
    width: 50%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

#container #content #addFloral #form #bottomLeft select{
    height: 40px;
    width: 50%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

#container #content #addFloral #form #bottom{
    margin-top: 400px;
}