@import url('https://fonts.googleapis.com/css2?family=Cute Font&display=swap');
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/931558048640073381/82E090624DE0C8984BA537891CD03C5986BED025/');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  font-family: 'Cute Font';
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.8s;
}
#container #hotbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 60px;
}
#container #hotbar #glory {
  font-size: 40px;
  color: #f3b5b1;
  opacity: 0.8;
  text-decoration: none;
  margin-right: 25px;
  transition: opacity 0.5s;
}
#container #hotbar #glory:hover {
  opacity: 1;
}
#container #hotbar .link {
  font-size: 30px;
  color: #fcf8ee;
  opacity: 0.6;
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #hotbar .link:hover {
  opacity: 1;
}
#container #hotbar #currentLink {
  opacity: 1;
}
#container #top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-bottom: 50px;
}
#container #top #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  transition: margin-top 0.5s;
}
#container #top #text #back {
  text-decoration: none;
  font-size: 35px;
  color: #fcf8ee;
  opacity: 0.5;
  margin-left: 20px;
  margin-bottom: -65px;
  transition: opacity 0.5s;
}
#container #top #text #back:hover {
  opacity: 1;
}
#container #top #text #title {
  font-size: 125px;
  color: #f3b5b1;
}
#container #content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#container #content #left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: -20px;
  transition: margin-right 0.5s;
}
#container #content #left #list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#container #content #left #list .heading {
  font-size: 30px;
  color: #f3b5b1;
  margin-bottom: 10px;
}
#container #content #left #list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.7;
  transition: opacity 0.5s;
}
#container #content #left #list .item img {
  height: 50px;
}
#container #content #left #list .item .name {
  text-decoration: none;
  color: #fcf8ee;
  font-size: 30px;
  margin-left: 15px;
}
#container #content #left #list .item .quantity {
  margin-left: 15px;
  background: none;
  border: none;
  color: #fcf8ee;
  font-family: 'Cute Font';
  font-size: 30px;
  text-align: center;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.5s;
}
#container #content #left #list .item .quantity:focus {
  outline: none;
  background-color: rgba(252, 248, 238, 0.25);
}
#container #content #left #list .item .quantity:hover {
  background-color: rgba(252, 248, 238, 0.25);
}
#container #content #left #list .item:hover {
  opacity: 1;
}
#container #content #right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  transition: margin-left 0.5s;
}
#container #content #right .heading {
  font-size: 25px;
  color: #f3b5b1;
  margin-bottom: 10px;
}
#container #content #right #save_button {
  margin-bottom: 30px;
  background: none;
  border: none;
  color: #fcf8ee;
  font-family: 'Cute Font';
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(243, 181, 177, 0.25);
  transition: background-color 0.5s;
}
#container #content #right #save_button:focus {
  outline: none;
}
#container #content #right #save_button:hover {
  background-color: rgba(243, 181, 177, 0.5);
}
#container #content #right #proceed_button {
  color: #fcf8ee;
  text-decoration: none;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(243, 181, 177, 0.25);
  transition: background-color 0.5s;
}
#container #content #right #proceed_button:hover {
  background-color: rgba(243, 181, 177, 0.5);
}
#container:hover {
  opacity: 1;
}
#container:hover #top #text {
  margin-top: 0px;
}
#container:hover #content #left {
  margin-right: 50px;
}
#container:hover #content #right {
  margin-left: 50px;
}
