@import url('https://fonts.googleapis.com/css2?family=Cute Font&display=swap');
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/931558048640073381/82E090624DE0C8984BA537891CD03C5986BED025/');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a {
  font-family: 'Cute Font';
}
input[type=submit] {
  font-family: 'Cute Font';
  outline: none;
  border: none;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.8s;
}
#container #hotbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 60px;
}
#container #hotbar #glory {
  font-size: 40px;
  color: #f3b5b1;
  opacity: 0.8;
  text-decoration: none;
  margin-right: 25px;
  transition: opacity 0.5s;
}
#container #hotbar #glory:hover {
  opacity: 1;
}
#container #hotbar .link {
  font-size: 30px;
  color: #fcf8ee;
  opacity: 0.6;
  text-decoration: none;
  margin-right: 20px;
  transition: opacity 0.5s;
}
#container #hotbar .link:hover {
  opacity: 1;
}
#container #hotbar #currentLink {
  opacity: 1;
}
#container #top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
}
#container #top #content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -100px;
  transition: margin-top 0.5s;
}
#container #top #content #back {
  text-decoration: none;
  font-size: 35px;
  color: #fcf8ee;
  opacity: 0.5;
  margin-left: 77px;
  margin-bottom: -65px;
  transition: opacity 0.5s;
}
#container #top #content #back:hover {
  opacity: 1;
}
#container #top #content #title {
  font-size: 125px;
  color: #f3b5b1;
}
#container #bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
}
#container #bottom #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  transition: margin-top 0.5s;
}
#container #bottom #content #buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#container #bottom #content #buttons .button {
  color: #fcf8ee;
  text-decoration: none;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(243, 181, 177, 0.25);
  transition: background-color 0.5s;
}
#container #bottom #content #buttons .button:hover {
  background-color: rgba(243, 181, 177, 0.5);
}
#container #bottom #content #buttons #seeChanges {
  height: 0px;
  width: 0px;
}
#container #bottom #content #buttons #seeChangesText {
  font-family: 'Cute Font';
  color: #fcf8ee;
  text-decoration: none;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(243, 181, 177, 0.25);
  transition: background-color 0.5s;
}
#container #bottom #content #buttons #seeChanges:hover + #seeChangesText {
  background-color: rgba(243, 181, 177, 0.5);
}
#container #bottom #content #buttons #seeChanges:checked + #seeChangesText {
  background-color: rgba(243, 181, 177, 0.5);
}
#container #bottom #content #changes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
  opacity: 0.7;
  max-height: 0px;
  opacity: 0;
  transition: opacity 0.5s, max-height 0.5s;
  /* max-height instead of height to get around 'height: auto' having no transition */
}
#container #bottom #content #changes #text {
  font-size: 25px;
  line-height: 25px;
  color: #fcf8ee;
}
#container #bottom #content #changes #text span {
  color: #f3b5b1;
}

#container #bottom #content #list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 30px;
}
#container #bottom #content #list #heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#container #bottom #content #list #heading #id {
  color: rgba(252, 248, 238, 0.5);
  font-size: 20px;
  width: 50px;
}
#container #bottom #content #list #heading #name {
  color: rgba(252, 248, 238, 0.5);
  font-size: 20px;
  width: 350px;
}
#container #bottom #content #list #heading #isActive {
  color: rgba(252, 248, 238, 0.5);
  font-size: 20px;
  width: 100px;
}
#container #bottom #content #list #heading #isAdmin {
  color: rgba(252, 248, 238, 0.5);
  font-size: 20px;
  width: 100px;
}
#container #bottom #content #list .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
  height: 45px;
  transition: opacity 0.5s;
}
#container #bottom #content #list .member .id {
  color: #f3b5b1;
  font-size: 25px;
  width: 50px;
}
#container #bottom #content #list .member .name {
  color: #fcf8ee;
  font-size: 40px;
  width: 350px;
}
#container #bottom #content #list .member .label {
  font-family: 'Poppins';
  color: #fcf8ee;
  margin-left: 10px;
  opacity: 0.5;
  font-weight: 500;
  transition: opacity 0.3s;
}
#container #bottom #content #list .member .checkbox {
  display: none;
}


#container #bottom #content #list .member .checkboxLabel {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: black;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  opacity: 0.8;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s, background-color 0.3s;
}
#container #bottom #content #list .member .checkboxLabel .slider {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #fcf8ee;
  transition: margin-left 0.3s;
}

#container #bottom #content #list .member .adminCheckbox {
    margin-left: 40px;
}


#container #bottom #content #list .member .checkboxLabel:hover {
  opacity: 1;
}
#container #bottom #content #list .member .checkbox:checked + .checkboxLabel {
  background-color: #f3b5b1;
}


#container #bottom #content #list .member .checkbox:checked + .checkboxLabel > .slider {
  margin-left: 35px;
}

#container #bottom #content #list .member .checkbox:checked + .adminCheckbox {
  background-color: #46e38f;
}


#container #bottom #content #list .member:hover {
  opacity: 1;
}
#container:hover {
  opacity: 1;
}
#container:hover #top #content {
  margin-top: 0px;
}
#container:hover #bottom #content {
  margin-top: 0px;
}
